@font-face {
  font-family: 'Banny';
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("../fonts/Banny-Round.woff") format("woff"); }

@media (max-width: 1279px) {
  .container {
    max-width: 98%; }
  .header .nav ul a {
    width: 90px; }
  .header .nav .logo {
    width: 150px;
    height: 150px; }
  .header .header__wrapper .header__content .header__name {
    font: 75px "Banny", sans-serif; }
  .header .header__wrapper .header__content::before {
    height: 398px; }
  .header .header__wrapper .header__content::after {
    top: 558px; }
  .header .header__link-wrapper a {
    padding: 15px; }
  .section__wrapper {
    justify-content: center; }
    .section__wrapper .section__img {
      width: 300px;
      height: 300px; }
    .section__wrapper .section__text-wrapper {
      max-width: 465px; }
    .section__wrapper figure::after {
      width: 115px;
      height: 115px;
      border: 15px solid #E8C300; }
  .team .section__wrapper {
    justify-content: center; }
    .team .section__wrapper .section__text-wrapper {
      padding-right: 0; }
  .book .section__wrapper {
    justify-content: center; }
    .book .section__wrapper .section__text-wrapper {
      max-width: 100%;
      margin-left: 0; }
    .book .section__wrapper input {
      width: 228px; }
    .book .section__wrapper figure {
      align-self: flex-end;
      margin-left: 60px; }
  .specialties .section__wrapper {
    justify-content: center; }
    .specialties .section__wrapper .section__text-wrapper {
      padding-right: 0; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper {
    justify-content: space-around; }
    .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item {
      display: block;
      flex-wrap: nowrap; }
      .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item .item-wrapper {
        padding-bottom: 5px; }
        .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item .item-wrapper .item__title {
          font: 16px "Banny", sans-serif;
          line-height: 16px; }
      .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item .item__price {
        font: 16px "Banny", sans-serif;
        line-height: 16px;
        margin-left: 0; }
  .contact .section__wrapper .section__text-wrapper .section__form-message address {
    flex-wrap: wrap; }
    .contact .section__wrapper .section__text-wrapper .section__form-message address span:last-of-type {
      margin-left: 0; }
  .modal__wrapper .modal-book .section__title {
    font: 32px "Banny", sans-serif; } }

@media (max-width: 999px) {
  .burger-menu {
    display: block; }
  .burger-box {
    position: fixed;
    height: 80px;
    transform: translate(-100%);
    top: 0;
    left: 0;
    transition: transform 0.2s 0.5s;
    z-index: 9999;
    width: 100%;
    background: #040202; }
  .burger-box_active {
    transform: translate(0);
    transition: transform 0.2s; }
  .header .nav {
    position: fixed;
    top: -80px;
    left: 0;
    transform: translate(0);
    transition: transform 0.5s ease-in 0s;
    justify-content: center;
    background-color: gold;
    z-index: 9998; }
    .header .nav ul a {
      padding: 20px 0; }
  .header .nav-active {
    transform: translate(0, 160px);
    transition: transform 0.3s ease-out 0.2s; }
  .header .logo-wrapper {
    transition: 0.8s 0s; }
    .header .logo-wrapper .logo {
      transition: 0.8s 0s; }
  .header .logo-wrapper_active {
    transform: translate(0);
    position: fixed;
    transition: 0.5s;
    z-index: 9999;
    left: -30px;
    top: -35px; }
    .header .logo-wrapper_active .logo_active {
      transform: scale(0.5) rotate(-180deg);
      transition: transform 0.5s; }
  .header .header__wrapper {
    padding-top: 160px; }
    .header .header__wrapper .header__content {
      padding: 80px 20px 83px; }
      .header .header__wrapper .header__content .header__name {
        font: 65px "Banny", sans-serif; }
      .header .header__wrapper .header__content .header__btn-wrapper {
        padding-bottom: 20px; }
    .header .header__wrapper .header__content::before {
      top: 15px;
      height: 264px; }
    .header .header__wrapper .header__content::after {
      top: 339px; }
  .header .header__wrapper::before,
  .header .header__wrapper::after {
    top: 0;
    height: 582px; }
  .section__wrapper {
    flex-direction: column; }
    .section__wrapper .section__text-wrapper .section__title {
      font: 30px "Banny", sans-serif; }
    .section__wrapper .section__text-wrapper .content-text {
      font: bold 16px "Open Sans", sans-serif; }
    .section__wrapper .section__img {
      width: 280px;
      height: 280px; }
    .section__wrapper figure::after {
      width: 140px;
      height: 140px;
      top: 50%;
      left: 100%; }
  .about figure {
    margin-left: 0;
    order: 1; }
  .about .section__text-wrapper {
    order: 2;
    margin-top: 40px; }
  .team .section__wrapper figure {
    padding-right: 0; }
  .team .section__wrapper .section__text-wrapper {
    padding-right: 0;
    margin-top: 40px; }
  .book .section__wrapper .section__text-wrapper {
    margin-left: 0;
    order: 2;
    margin-top: 40px; }
  .book .section__wrapper figure {
    align-self: center;
    margin-left: 0;
    order: 1; }
  .specialties .section__wrapper figure {
    padding-right: 0; }
  .specialties .section__wrapper .section__text-wrapper {
    padding-right: 0;
    margin-top: 40px; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li {
    min-width: 100px; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper {
    justify-content: space-around; }
    .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item {
      max-width: 200px; }
  .events .section__wrapper figure:last-of-type {
    margin-left: 0;
    margin-top: 40px; }
  .contact .section__wrapper .section__text-wrapper .section__form-message address {
    justify-content: space-between; }
    .contact .section__wrapper .section__text-wrapper .section__form-message address span:nth-child(even) {
      margin-left: 0; }
  .modal__wrapper .modal-book {
    width: 35%; } }

@media (max-width: 767px) {
  .container {
    max-width: 95%; }
  .header .nav ul a {
    width: 75px; }
  .header .header__wrapper {
    flex-direction: column; }
    .header .header__wrapper .work-time_wrapper {
      order: 3; }
      .header .header__wrapper .work-time_wrapper .work-time {
        transform: none;
        margin: 20px 0 0;
        padding-bottom: 20px;
        font: bold 9px "Open Sans", sans-serif; }
    .header .header__wrapper .header__content {
      margin: 40px 0 0;
      padding: 0 0 40px 0;
      order: 1; }
      .header .header__wrapper .header__content .header__name {
        font: 40px "Banny", sans-serif;
        text-align: center;
        margin-top: 10px; }
      .header .header__wrapper .header__content .header__btn-wrapper {
        flex-direction: column; }
        .header .header__wrapper .header__content .header__btn-wrapper .header__btn:last-of-type {
          margin: 10px 0 0; }
    .header .header__wrapper .header__content::before,
    .header .header__wrapper .header__content::after {
      display: none; }
    .header .header__wrapper .header__link-list {
      order: 2;
      display: flex; }
      .header .header__wrapper .header__link-list .header__link-wrapper {
        margin-top: 0;
        width: 60px;
        margin-left: 10px; }
        .header .header__wrapper .header__link-list .header__link-wrapper img {
          height: 21px; }
      .header .header__wrapper .header__link-list .header__link-wrapper:first-of-type {
        margin-left: 0; }
  .header .header__wrapper::before,
  .header .header__wrapper::after {
    display: none; }
  .section__wrapper {
    margin-top: 70px; }
    .section__wrapper .section__text-wrapper .section__title {
      text-align: center; }
    .section__wrapper figure::after {
      display: none; }
  .work-time {
    font: bold 9px "Open Sans", sans-serif;
    line-height: 9px; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories {
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li {
      border-left: 1px solid rgba(51, 51, 51, 0.2);
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      margin: 5px; }
    .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li:last-of-type {
      border-left: 1px solid rgba(51, 51, 51, 0.2);
      border-right: 1px solid rgba(51, 51, 51, 0.2); }
  .events .work-time {
    color: rgba(255, 255, 255, 0.82); }
  .contact .section__wrapper .section__text-wrapper .section__form-message {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr; }
    .contact .section__wrapper .section__text-wrapper .section__form-message .input_name {
      grid-column: 1/5; }
    .contact .section__wrapper .section__text-wrapper .section__form-message .input_email {
      grid-column: 1/5; }
    .contact .section__wrapper .section__text-wrapper .section__form-message .input_phone {
      grid-column: 1/5; }
    .contact .section__wrapper .section__text-wrapper .section__form-message .btn {
      grid-column: 1/5;
      grid-row: 5; }
    .contact .section__wrapper .section__text-wrapper .section__form-message span {
      padding-bottom: 5px; }
  .modal__wrapper .modal-book {
    width: 50%; }
    .modal__wrapper .modal-book .section__title {
      font: 27px "Banny", sans-serif; } }

@media (max-width: 599px) {
  .header .nav ul a {
    width: 75px; } }

@media (max-width: 599px) and (max-width: 489px) {
  .header .nav {
    flex-direction: column;
    justify-content: space-evenly;
    top: -472px;
    transition: transform 0.2s ease-in 0s; }
    .header .nav ul {
      flex-direction: column; }
      .header .nav ul a {
        display: block;
        margin: auto;
        width: 130px;
        font-size: 23px; }
  .header .nav-active {
    transform: translate(0, 552px); }
  .book .section__wrapper .section__text-wrapper .section__form-wrapper {
    flex-direction: column; }
    .book .section__wrapper .section__text-wrapper .section__form-wrapper .section__form:last-of-type {
      margin-left: 0; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li {
    min-width: 64px; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper {
    display: block; }
  .modal__wrapper .modal-book {
    width: 70%;
    padding: 50px 25px 15px 25px; }
    .modal__wrapper .modal-book .section__title {
      font: 27px "Banny", sans-serif; } }
