/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@font-face {
  font-family: 'Banny';
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("../fonts/Banny-Round.woff") format("woff"); }

.burger-menu {
  position: fixed;
  top: 10px;
  right: 1%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  padding: 0;
  border: 1px solid gold;
  border-radius: 50%;
  background: rgba(255, 215, 0, 0.3);
  cursor: pointer;
  z-index: 9999; }
  .burger-menu span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background 0s 0.3s; }
  .burger-menu span,
  .burger-menu span::before,
  .burger-menu span::after {
    position: absolute;
    display: block;
    width: 34px;
    height: 3px;
    background: gold; }
  .burger-menu span::before,
  .burger-menu span::after {
    content: '';
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
    transition-property: top, transform; }
  .burger-menu span::before {
    top: -8px; }
  .burger-menu span::after {
    top: 8px; }

.burger-menu.is-active span {
  background: none; }

.burger-menu.is-active span::before,
.burger-menu.is-active span::after {
  top: 0;
  transition-delay: 0s, 0.3s; }

.burger-menu.is-active span::before {
  transform: rotate(45deg); }

.burger-menu.is-active span::after {
  transform: rotate(-45deg); }

@font-face {
  font-family: 'Banny';
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("../fonts/Banny-Round.woff") format("woff"); }

.btn {
  border-radius: 5px;
  width: 200px;
  border: none;
  background-color: #E8C300;
  display: block;
  padding: 20px;
  font: bold 12px "Open Sans", sans-serif;
  line-height: 12px;
  color: #FFFFFF;
  text-transform: uppercase; }

.btn:hover {
  background-color: #ffd500;
  transition: 0.2s; }

@font-face {
  font-family: 'Banny';
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("../fonts/Banny-Round.woff") format("woff"); }

.modal__wrapper {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal__wrapper .modal-book {
    background-color: #fefefe;
    margin: 4% auto;
    padding: 50px 35px 35px 35px;
    width: 25%;
    border-radius: 10px;
    border: 2px solid #E5E5E5;
    display: flex;
    flex-direction: column;
    position: relative; }
    .modal__wrapper .modal-book .close {
      font: 28px bold;
      line-height: 15px;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px; }
    .modal__wrapper .modal-book .section__title {
      font: 36px "Banny", sans-serif;
      color: #222;
      line-height: 48px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 30px;
      text-align: center; }
    .modal__wrapper .modal-book .section__title::after {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      background: #E8C300;
      border-radius: 50px;
      position: absolute;
      left: 50%;
      transform: translate(-50%); }
    .modal__wrapper .modal-book .section__form-wrapper {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      justify-content: space-between; }
      .modal__wrapper .modal-book .section__form-wrapper .section__form {
        display: flex;
        flex-direction: column; }
        .modal__wrapper .modal-book .section__form-wrapper .section__form input {
          width: auto; }
        .modal__wrapper .modal-book .section__form-wrapper .section__form .input-select {
          background-image: url(../img/input-down.svg);
          background-repeat: no-repeat;
          background-position: 90% 50%; }
    .modal__wrapper .modal-book .section__btn {
      width: 100%; }

.section__wrapper figure::after {
  content: '';
  position: absolute;
  border: 20px solid #E8C300;
  border-radius: 5px;
  box-shadow: 0px 0px 100px rgba(65, 10, 10, 0.5);
  display: block; }

.header__wrapper::before,
.header__wrapper::after,
.team::before,
.team::after,
.specialties::before,
.specialties::after,
.events::before,
.events::after, .team .container::before, .specialties .container::before, .events .container::before {
  content: '';
  display: block;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  transform: translate(-50%); }

.title_white {
  color: #FFFFFF; }

.content-text_white {
  color: #FFFFFF; }

.sub-text_white {
  color: #FFFFFF; }

.sub-title {
  font: bold 12px "Open Sans", sans-serif;
  line-height: 14px;
  color: #ffffff;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  position: relative; }

.work-time {
  font: bold 12px "Open Sans", sans-serif;
  line-height: 12px;
  text-align: center; }

input {
  margin-top: 10px;
  background: #E5E5E5;
  border-radius: 5px;
  width: 277px;
  padding: 20px 0;
  border: none;
  font: 14px "Open Sans", sans-serif;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.5);
  text-indent: 20px; }

.header__wrapper::before,
.header__wrapper::after,
.team::before,
.team::after,
.specialties::before,
.specialties::after,
.events::before,
.events::after {
  height: 100%;
  top: 0; }

.header__wrapper::before,
.team::before,
.specialties::before,
.events::before {
  left: 15%; }

.header__wrapper::after,
.team::after,
.specialties::after,
.events::after {
  right: 15%; }

.header__wrapper::before,
.header__wrapper::after {
  top: 99px;
  height: 667px; }

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.burger-menu {
  display: none; }

/* Header */
.header {
  background-image: url(../img/header-bg.png);
  background-size: cover; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative; }
    .header .nav ul {
      display: flex; }
      .header .nav ul a {
        display: inline-block;
        padding: 40px 0;
        font: bold 12px "Open Sans", sans-serif;
        line-height: 18px;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        width: 133px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      .header .nav ul a:hover {
        background: #E8C300;
        transition: 0.5s; }
  .header .logo-wrapper {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%);
    z-index: 9999; }
    .header .logo-wrapper .logo {
      transition-duration: 30s; }
    .header .logo-wrapper .logo:hover {
      transform: rotate(-920deg);
      transition-property: transform;
      transition-duration: 30s; }
  .header .header__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; }
    .header .header__wrapper .work-time_wrapper .work-time {
      color: #ffffff;
      transform: rotate(-90deg);
      margin-left: -99px;
      display: block; }
    .header .header__wrapper .header__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -95px;
      padding: 225px 40px 83px;
      position: relative; }
      .header .header__wrapper .header__content .header__name {
        font: 96px "Banny", sans-serif;
        text-transform: uppercase;
        color: #FFFFFF;
        position: relative; }
      .header .header__wrapper .header__content .header__name::after {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        background: #E8C300;
        border-radius: 50px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        z-index: 2; }
      .header .header__wrapper .header__content .header__btn-wrapper {
        margin-top: 30px;
        padding-bottom: 82px;
        display: flex; }
        .header .header__wrapper .header__content .header__btn-wrapper .btn {
          margin-left: 40px;
          background: none;
          border: 1px solid rgba(255, 255, 255, 0.5); }
        .header .header__wrapper .header__content .header__btn-wrapper .btn:first-of-type {
          margin-left: 0px; }
        .header .header__wrapper .header__content .header__btn-wrapper .btn:hover {
          background: #E8C300;
          transition: 0.8s; }
      .header .header__wrapper .header__content .header__btn-down {
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        padding: 9px;
        background: none; }
        .header .header__wrapper .header__content .header__btn-down .header__btn-down_wrapper {
          border-radius: 50%;
          background-color: #ffffff;
          border: none; }
          .header .header__wrapper .header__content .header__btn-down .header__btn-down_wrapper .fa-angle-down {
            font-size: 20px;
            line-height: 20px;
            color: #333333;
            padding: 10px 14px; }
      .header .header__wrapper .header__content .header__btn-down:hover {
        background-color: #ffffff;
        transition: background-color 1s; }
    .header .header__wrapper .header__content::before,
    .header .header__wrapper .header__content::after {
      content: '';
      display: block;
      height: 424px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translate(-50%); }
    .header .header__wrapper .header__content::after {
      height: 83px;
      top: 584px; }
    .header .header__wrapper .header__link-wrapper {
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
      margin-top: 20px; }
      .header .header__wrapper .header__link-wrapper a {
        display: block;
        padding: 19px;
        text-align: center;
        border-radius: 50%; }
      .header .header__wrapper .header__link-wrapper a:hover {
        background: rgba(255, 255, 255, 0.3);
        transition: 0.5s; }
    .header .header__wrapper .header__link-wrapper:first-of-type {
      margin-top: 0px; }

/* About */
.about {
  padding-bottom: 100px; }

.section__wrapper {
  display: flex;
  margin-top: 100px;
  align-items: center; }
  .section__wrapper .section__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px; }
    .section__wrapper .section__text-wrapper .section__title {
      font: 36px "Banny", sans-serif;
      line-height: 48px;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 30px; }
    .section__wrapper .section__text-wrapper .section__title::after {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      background: #E8C300;
      border-radius: 50px;
      position: absolute;
      left: 50%;
      transform: translate(-50%); }
    .section__wrapper .section__text-wrapper .content-text {
      font: bold 18px "Open Sans", sans-serif;
      line-height: 28px;
      text-align: center;
      padding-bottom: 15px; }
    .section__wrapper .section__text-wrapper .sub-text {
      font: 14px "Open Sans", sans-serif;
      text-align: center;
      line-height: 24px; }
  .section__wrapper figure {
    position: relative;
    margin-left: 80px;
    z-index: 2; }
    .section__wrapper figure img {
      border-radius: 5px;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5); }
  .section__wrapper figure::after {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%); }

/* Team */
.team {
  background-image: url(../img/team-bg.png);
  background-size: cover;
  padding-bottom: 100px;
  position: relative; }
  .team .container::before {
    height: 100%;
    left: 50%; }
  .team .sub-title {
    padding: 40px 0;
    text-align: center; }
  .team .section__wrapper {
    margin-top: 0px;
    justify-content: flex-end;
    position: relative; }
    .team .section__wrapper figure {
      margin-left: 0px;
      padding-right: 60px; }
    .team .section__wrapper figure::after {
      left: 0%; }
    .team .section__wrapper .section__text-wrapper {
      padding-right: 20px; }

/* Book */
.book .section__wrapper {
  justify-content: flex-start; }
  .book .section__wrapper .section__text-wrapper {
    margin-left: 60px; }
    .book .section__wrapper .section__text-wrapper .section__form-wrapper {
      display: flex;
      padding-bottom: 10px; }
      .book .section__wrapper .section__text-wrapper .section__form-wrapper .section__form {
        display: flex;
        flex-direction: column; }
        .book .section__wrapper .section__text-wrapper .section__form-wrapper .section__form .input-select {
          background-image: url(../img/input-down.svg);
          background-repeat: no-repeat;
          background-position: 90% 50%; }
      .book .section__wrapper .section__text-wrapper .section__form-wrapper .section__form:last-of-type {
        margin-left: 10px; }
    .book .section__wrapper .section__text-wrapper .section__btn {
      width: 100%; }
  .book .section__wrapper figure {
    margin-left: 55px; }

.book .work-time {
  display: block;
  padding: 45px 0; }

/* Specialties */
.specialties {
  background-image: url(../img/specialties-bg.png);
  background-size: cover;
  padding-bottom: 45px;
  position: relative; }
  .specialties .container::before {
    height: 100%;
    left: 50%;
    pointer-events: none; }
  .specialties .sub-title {
    text-align: center;
    padding: 40px 0; }
  .specialties .section__wrapper {
    margin-top: 0px;
    justify-content: flex-end;
    position: relative; }
    .specialties .section__wrapper .section__text-wrapper {
      padding-right: 20px; }
    .specialties .section__wrapper figure {
      padding-right: 60px;
      margin-left: 0px; }
    .specialties .section__wrapper figure::after {
      left: 0; }
  .specialties .carousel {
    text-align: center;
    margin-top: 45px; }
    .specialties .carousel .btn_carousel {
      margin-left: 20px;
      width: 10px;
      height: 10px;
      background: rgba(255, 255, 255, 0.5);
      border: none;
      border-radius: 50%;
      padding: 0; }
    .specialties .carousel .btn_carousel:first-of-type {
      margin-left: 0px; }
    .specialties .carousel .btn_carousel:hover {
      background: #ffffff; }

/* Kitchen Menu */
.kitchen-menu {
  padding-bottom: 100px; }
  .kitchen-menu .section__wrapper {
    justify-content: center; }
    .kitchen-menu .section__wrapper .section__text-wrapper {
      width: 100%;
      max-width: 100%; }
      .kitchen-menu .section__wrapper .section__text-wrapper .content-text {
        max-width: 565px;
        padding-bottom: 50px; }
      .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories {
        display: flex; }
        .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li {
          display: block;
          padding: 16px 0px;
          text-align: center;
          font: bold 12px "Open Sans", sans-serif;
          line-height: 18px;
          text-transform: uppercase;
          min-width: 120px;
          border-right: 1px solid rgba(51, 51, 51, 0.2); }
        .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories .tabs_menu-clicked {
          background-color: #e4e4e4; }
        .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li:last-of-type {
          border: none; }
        .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li:hover {
          cursor: pointer;
          background-color: #e4e4e4;
          transition: 0.3s; }
      .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper-hide {
        display: none; }
      .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        width: 100%; }
        .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item {
            padding-bottom: 30px;
            display: flex;
            flex-wrap: wrap; }
            .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item .item__title,
            .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item .item__price {
              font: 18px "Banny", sans-serif;
              line-height: 18px; }
            .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item .item__price {
              margin-left: 15px; }
            .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item .item__text {
              font: 12px "Open Sans", sans-serif;
              color: rgba(51, 51, 51, 0.5); }

/* Private Events */
.events {
  background-image: url(../img/specialties-bg.png);
  background-size: cover;
  position: relative; }
  .events .container::before {
    height: 100%;
    left: 50%; }
  .events .sub-title {
    text-align: center;
    padding: 40px 0; }
  .events .section__wrapper {
    margin-top: 0;
    justify-content: center; }
    .events .section__wrapper figure {
      cursor: pointer; }
      .events .section__wrapper figure span {
        font: 24px "Banny", sans-serif;
        line-height: 12px;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute; }
    .events .section__wrapper figure::before {
      content: '';
      display: block;
      height: 100%;
      width: 80px;
      position: absolute;
      background-color: black; }
    .events .section__wrapper figure:first-of-type {
      margin-left: 0; }
      .events .section__wrapper figure:first-of-type span {
        top: 80px;
        right: -20px;
        transform: rotate(90deg); }
    .events .section__wrapper figure:first-of-type::before {
      right: 0; }
    .events .section__wrapper figure:first-of-type::after {
      left: 0; }
    .events .section__wrapper figure:last-of-type span {
      transform: rotate(-90deg);
      left: -80px;
      bottom: 135px; }
  .events .work-time {
    text-align: center;
    display: block;
    padding: 45px 0;
    color: rgba(255, 255, 255, 0.5); }

.gallery {
  display: flex; }
  .gallery img {
    width: 25%; }

/* Contact */
.contact {
  padding-bottom: 100px; }
  .contact .section__wrapper {
    display: flex;
    justify-content: center; }
    .contact .section__wrapper .section__text-wrapper {
      max-width: 100%; }
      .contact .section__wrapper .section__text-wrapper .section__title {
        padding-bottom: 30px; }
      .contact .section__wrapper .section__text-wrapper .content-text {
        padding-bottom: 50px;
        max-width: 565px; }
      .contact .section__wrapper .section__text-wrapper .section__form-message {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 2fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-gap: 10px; }
        .contact .section__wrapper .section__text-wrapper .section__form-message input {
          width: auto;
          margin-top: 0; }
        .contact .section__wrapper .section__text-wrapper .section__form-message .input_email {
          grid-column: 2 / 4; }
        .contact .section__wrapper .section__text-wrapper .section__form-message .input_phone {
          grid-column-start: 4; }
        .contact .section__wrapper .section__text-wrapper .section__form-message .input_message {
          grid-column: 1 / 5;
          background: #E5E5E5;
          border-radius: 5px;
          padding: 20px 0;
          border: none;
          font: 14px "Open Sans", sans-serif;
          line-height: 19px;
          color: rgba(51, 51, 51, 0.5);
          text-indent: 20px;
          resize: none; }
        .contact .section__wrapper .section__text-wrapper .section__form-message address {
          grid-column: 1 / 3;
          display: flex;
          align-items: center;
          font: 12px "Open Sans", sans-serif;
          line-height: 12px;
          color: rgba(51, 51, 51, 0.5);
          padding-right: 40px; }
          .contact .section__wrapper .section__text-wrapper .section__form-message address span {
            margin-left: 15px; }
          .contact .section__wrapper .section__text-wrapper .section__form-message address span:first-of-type {
            margin-left: 0; }
          .contact .section__wrapper .section__text-wrapper .section__form-message address .fas {
            color: #E8C300;
            font-size: 14px;
            line-height: 14px;
            padding-right: 5px; }
        .contact .section__wrapper .section__text-wrapper .section__form-message .btn {
          grid-column: 3 / 5;
          width: auto; }

.map_img {
  width: 100%; }

/* Footer */
.footer {
  background-color: rgba(0, 0, 0, 0.9); }
  .footer p {
    padding: 45px 0;
    color: rgba(255, 255, 255, 0.5);
    text-align: center; }

@font-face {
  font-family: 'Banny';
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("../fonts/Banny-Round.woff") format("woff"); }

@media (max-width: 1279px) {
  .container {
    max-width: 98%; }
  .header .nav ul a {
    width: 90px; }
  .header .nav .logo {
    width: 150px;
    height: 150px; }
  .header .header__wrapper .header__content .header__name {
    font: 75px "Banny", sans-serif; }
  .header .header__wrapper .header__content::before {
    height: 398px; }
  .header .header__wrapper .header__content::after {
    top: 558px; }
  .header .header__link-wrapper a {
    padding: 15px; }
  .section__wrapper {
    justify-content: center; }
    .section__wrapper .section__img {
      width: 300px;
      height: 300px; }
    .section__wrapper .section__text-wrapper {
      max-width: 465px; }
    .section__wrapper figure::after {
      width: 115px;
      height: 115px;
      border: 15px solid #E8C300; }
  .team .section__wrapper {
    justify-content: center; }
    .team .section__wrapper .section__text-wrapper {
      padding-right: 0; }
  .book .section__wrapper {
    justify-content: center; }
    .book .section__wrapper .section__text-wrapper {
      max-width: 100%;
      margin-left: 0; }
    .book .section__wrapper input {
      width: 228px; }
    .book .section__wrapper figure {
      align-self: flex-end;
      margin-left: 60px; }
  .specialties .section__wrapper {
    justify-content: center; }
    .specialties .section__wrapper .section__text-wrapper {
      padding-right: 0; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper {
    justify-content: space-around; }
    .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item {
      display: block;
      flex-wrap: nowrap; }
      .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item .item-wrapper {
        padding-bottom: 5px; }
        .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item .item-wrapper .item__title {
          font: 16px "Banny", sans-serif;
          line-height: 16px; }
      .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item .item__price {
        font: 16px "Banny", sans-serif;
        line-height: 16px;
        margin-left: 0; }
  .contact .section__wrapper .section__text-wrapper .section__form-message address {
    flex-wrap: wrap; }
    .contact .section__wrapper .section__text-wrapper .section__form-message address span:last-of-type {
      margin-left: 0; }
  .modal__wrapper .modal-book .section__title {
    font: 32px "Banny", sans-serif; } }

@media (max-width: 999px) {
  .burger-menu {
    display: block; }
  .burger-box {
    position: fixed;
    height: 80px;
    transform: translate(-100%);
    top: 0;
    left: 0;
    transition: transform 0.2s 0.5s;
    z-index: 9999;
    width: 100%;
    background: #040202; }
  .burger-box_active {
    transform: translate(0);
    transition: transform 0.2s; }
  .header .nav {
    position: fixed;
    top: -80px;
    left: 0;
    transform: translate(0);
    transition: transform 0.5s ease-in 0s;
    justify-content: center;
    background-color: gold;
    z-index: 9998; }
    .header .nav ul a {
      padding: 20px 0; }
  .header .nav-active {
    transform: translate(0, 160px);
    transition: transform 0.3s ease-out 0.2s; }
  .header .logo-wrapper {
    transition: 0.8s 0s; }
    .header .logo-wrapper .logo {
      transition: 0.8s 0s; }
  .header .logo-wrapper_active {
    transform: translate(0);
    position: fixed;
    transition: 0.5s;
    z-index: 9999;
    left: -30px;
    top: -35px; }
    .header .logo-wrapper_active .logo_active {
      transform: scale(0.5) rotate(-180deg);
      transition: transform 0.5s; }
  .header .header__wrapper {
    padding-top: 160px; }
    .header .header__wrapper .header__content {
      padding: 80px 20px 83px; }
      .header .header__wrapper .header__content .header__name {
        font: 65px "Banny", sans-serif; }
      .header .header__wrapper .header__content .header__btn-wrapper {
        padding-bottom: 20px; }
    .header .header__wrapper .header__content::before {
      top: 15px;
      height: 264px; }
    .header .header__wrapper .header__content::after {
      top: 339px; }
  .header .header__wrapper::before,
  .header .header__wrapper::after {
    top: 0;
    height: 582px; }
  .section__wrapper {
    flex-direction: column; }
    .section__wrapper .section__text-wrapper .section__title {
      font: 30px "Banny", sans-serif; }
    .section__wrapper .section__text-wrapper .content-text {
      font: bold 16px "Open Sans", sans-serif; }
    .section__wrapper .section__img {
      width: 280px;
      height: 280px; }
    .section__wrapper figure::after {
      width: 140px;
      height: 140px;
      top: 50%;
      left: 100%; }
  .about figure {
    margin-left: 0;
    order: 1; }
  .about .section__text-wrapper {
    order: 2;
    margin-top: 40px; }
  .team .section__wrapper figure {
    padding-right: 0; }
  .team .section__wrapper .section__text-wrapper {
    padding-right: 0;
    margin-top: 40px; }
  .book .section__wrapper .section__text-wrapper {
    margin-left: 0;
    order: 2;
    margin-top: 40px; }
  .book .section__wrapper figure {
    align-self: center;
    margin-left: 0;
    order: 1; }
  .specialties .section__wrapper figure {
    padding-right: 0; }
  .specialties .section__wrapper .section__text-wrapper {
    padding-right: 0;
    margin-top: 40px; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li {
    min-width: 100px; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper {
    justify-content: space-around; }
    .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper .kitchen-menu__list .kitchen-menu__item {
      max-width: 200px; }
  .events .section__wrapper figure:last-of-type {
    margin-left: 0;
    margin-top: 40px; }
  .contact .section__wrapper .section__text-wrapper .section__form-message address {
    justify-content: space-between; }
    .contact .section__wrapper .section__text-wrapper .section__form-message address span:nth-child(even) {
      margin-left: 0; }
  .modal__wrapper .modal-book {
    width: 35%; } }

@media (max-width: 767px) {
  .container {
    max-width: 95%; }
  .header .nav ul a {
    width: 75px; }
  .header .header__wrapper {
    flex-direction: column; }
    .header .header__wrapper .work-time_wrapper {
      order: 3; }
      .header .header__wrapper .work-time_wrapper .work-time {
        transform: none;
        margin: 20px 0 0;
        padding-bottom: 20px;
        font: bold 9px "Open Sans", sans-serif; }
    .header .header__wrapper .header__content {
      margin: 40px 0 0;
      padding: 0 0 40px 0;
      order: 1; }
      .header .header__wrapper .header__content .header__name {
        font: 40px "Banny", sans-serif;
        text-align: center;
        margin-top: 10px; }
      .header .header__wrapper .header__content .header__btn-wrapper {
        flex-direction: column; }
        .header .header__wrapper .header__content .header__btn-wrapper .header__btn:last-of-type {
          margin: 10px 0 0; }
    .header .header__wrapper .header__content::before,
    .header .header__wrapper .header__content::after {
      display: none; }
    .header .header__wrapper .header__link-list {
      order: 2;
      display: flex; }
      .header .header__wrapper .header__link-list .header__link-wrapper {
        margin-top: 0;
        width: 60px;
        margin-left: 10px; }
        .header .header__wrapper .header__link-list .header__link-wrapper img {
          height: 21px; }
      .header .header__wrapper .header__link-list .header__link-wrapper:first-of-type {
        margin-left: 0; }
  .header .header__wrapper::before,
  .header .header__wrapper::after {
    display: none; }
  .section__wrapper {
    margin-top: 70px; }
    .section__wrapper .section__text-wrapper .section__title {
      text-align: center; }
    .section__wrapper figure::after {
      display: none; }
  .work-time {
    font: bold 9px "Open Sans", sans-serif;
    line-height: 9px; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories {
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li {
      border-left: 1px solid rgba(51, 51, 51, 0.2);
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      margin: 5px; }
    .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li:last-of-type {
      border-left: 1px solid rgba(51, 51, 51, 0.2);
      border-right: 1px solid rgba(51, 51, 51, 0.2); }
  .events .work-time {
    color: rgba(255, 255, 255, 0.82); }
  .contact .section__wrapper .section__text-wrapper .section__form-message {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr; }
    .contact .section__wrapper .section__text-wrapper .section__form-message .input_name {
      grid-column: 1/5; }
    .contact .section__wrapper .section__text-wrapper .section__form-message .input_email {
      grid-column: 1/5; }
    .contact .section__wrapper .section__text-wrapper .section__form-message .input_phone {
      grid-column: 1/5; }
    .contact .section__wrapper .section__text-wrapper .section__form-message .btn {
      grid-column: 1/5;
      grid-row: 5; }
    .contact .section__wrapper .section__text-wrapper .section__form-message span {
      padding-bottom: 5px; }
  .modal__wrapper .modal-book {
    width: 50%; }
    .modal__wrapper .modal-book .section__title {
      font: 27px "Banny", sans-serif; } }

@media (max-width: 599px) {
  .header .nav ul a {
    width: 75px; } }

@media (max-width: 599px) and (max-width: 489px) {
  .header .nav {
    flex-direction: column;
    justify-content: space-evenly;
    top: -472px;
    transition: transform 0.2s ease-in 0s; }
    .header .nav ul {
      flex-direction: column; }
      .header .nav ul a {
        display: block;
        margin: auto;
        width: 130px;
        font-size: 23px; }
  .header .nav-active {
    transform: translate(0, 552px); }
  .book .section__wrapper .section__text-wrapper .section__form-wrapper {
    flex-direction: column; }
    .book .section__wrapper .section__text-wrapper .section__form-wrapper .section__form:last-of-type {
      margin-left: 0; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__categories li {
    min-width: 64px; }
  .kitchen-menu .section__wrapper .section__text-wrapper .kitchen-menu__list-wrapper {
    display: block; }
  .modal__wrapper .modal-book {
    width: 70%;
    padding: 50px 25px 15px 25px; }
    .modal__wrapper .modal-book .section__title {
      font: 27px "Banny", sans-serif; } }
