@import 'scss/fonts.scss';

.modal__wrapper {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);

    .modal-book {
        background-color: #fefefe;
        margin: 4% auto;
        padding: 50px 35px 35px 35px;
        width: 25%;
        border-radius: 10px;
        border: 2px solid #E5E5E5;
        display: flex;
        flex-direction: column;
        position: relative;

        .close {
            // align-self: flex-end;
            font: 28px bold;
            line-height: 15px;
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .section__title {
            font: 36px $font-stack1;
            color: #222;
            line-height: 48px;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 30px;
            text-align: center;
        }

        .section__title::after {
            content: '';
            display: block;
            width: 60px;
            height: 5px;
            background: #E8C300;
            border-radius: 50px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }

        .section__form-wrapper {
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            justify-content: space-between;

            .section__form {
                display: flex;
                flex-direction: column;

                input {
                    width: auto;

                }

                .input-select {
                    background-image: url(../img/input-down.svg);
                    background-repeat: no-repeat;
                    background-position: 90% 50%;
                }
            }
        }

        .section__btn {
            width: 100%;
        }
    }
}